@import "../variables";
@import "../mixins/mixins";
.header-section {
  background: $primary-header-bg-color;
  .navbar {
    padding: 24px;
    padding-left: 0;
    padding-right: 0;
    .navbar-nav {
      .nav-item {
      }
      .nav-link {
        font-family: $navbar-primary-font;
        font-weight: $navbar-primary-font-weight-medium;
        font-size: $navbar-primary-font-size;
        color: $navbar-primary-text-color;
        padding: 20px 0;
        margin-left: 20px;
        margin-right: 20px;
        text-transform: $navbar-primary-text-transform;
        position: relative;
        display: inline-block;
        line-height: 0;
        &.active {
          color: $navbar-primary-text-active-color;
          &:after {
            width: 100%;
          }
        }
        &:after {
          content: "";
          width: 0;
          height: 2px;
          background: $navbar-primary-border-color;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: 0.3s;
        }
        &:hover:after {
          width: 100%;
        }
      }
    }
    .nav-btn {
      display: flex;
      flex-direction: row;
      .download-cv-btn {
        @include btn-primary;
        @include md;
        transition: 0.3s;
        outline: none;
        &:hover {
          @include btn-hover;
        }
      }
      .toggler-btn-right {
        margin-left: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 0;
        outline: none;
        background: $toggle-btn-bg-color;
        box-shadow: 0px 8px 16px 0px rgba(255, 194, 200, 0.3);
        img {
          width: 14px;
          height: 11px;
        }
      }
    }
  }
}