@import "../variables";
@import "../base/base";
.news-section {
  padding: 120px 0;
  background: $secondary-bg-color;
  .section-title {
    margin-bottom: 60px;
    h6 {
      @include heading-six;
      margin-bottom: 30px;
    }
    h2 {
      @include heading-two;
    }
  }
  .card {
    border: none;
    background: none;
  }
}