@import "../variables";
@import "../base/base";
@import "../mixins/mixins";
.news-section {
  padding: 120px 0;
  background: $secondary-bg-color;
  .section-title {
    margin-bottom: 60px;
    h6 {
      @include heading-six;
      margin-bottom: 30px;
    }
    h2 {
      @include heading-two;
    }
  }
  .card {
    @include card-reset-style;
    .card-body {
      padding: 30px;
      padding-bottom: 20px;
      background: $card-bg-white;
      .post-info {
        margin-bottom: 20px;
        a {
          color: $card-text-color-red;
          margin-right: 24px;
          font-size: 14px;
          font-weight: $font-weight-regular;
          display: inline-block;
          i {
            margin-right: 6px;
          }
        }
      }
      .post-title {
        h4 {
          @include heading-four-extends;
          line-height: 36px;
        }
      }
      .post-desc {
        .card-text {
          @include card-text;
        }
        .card-btn {
          @include link-btn;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}