@import "../variables";

.header-section {
  position: relative;
  .hamburger-menu {
    transition: .3s;
    .overlay {
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 0;
      background: rgba($theme-color-dark, 0.9);
      z-index: 999;
      transition: 0.3s;
      &>.closebtn {
        color: $text-white-color;
        padding: 30px;
        font-size: 20px;
        cursor: pointer;
      }
      .overlay-content {
        padding-left: 20px;
        ul {
          margin: 0;
          padding: 0;
          list-style-type: none;
          li {
            a {
              color: $text-white-color;
              text-transform: capitalize;
              transition: 0.3s;
              &:hover {
                background: $theme-color-dark;
              }
            }
          }
        }
      }
    }

    &.active {
      position: fixed;
      top: 0;
      left: 0;
      right: auto;
      bottom: 0;
      background: #000000ab;
      z-index: 2;
      height: 100vh;
      width: 100%;
      overflow: hidden;
    }
  }
}