@import "../variables";
@mixin lg {
  padding: 20px 58px;
}
@mixin md {
  padding: 20px 40px;
}
@mixin sm {
  padding: 15px 30px;
}
@mixin btn {
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  font-size: $btn-font-size;
  color: $btn-primary-text-color;
  border-radius: $btn-border-radius;
  text-decoration: none;
  display: inline-block;
}

@mixin btn-primary {
  @include btn;
  background: $btn-primary-bg-color;
  border: 0;
  outline: none;
}
@mixin btn-hover {
  background: $btn-secondary-bg-color;
}

@mixin outline-primary {
  @include btn;
  background: transparent;
  color: $btn-secondary-text-color;
  border: 2px solid $btn-outline-border-color;
}

@mixin outline-btn-hover {
  background: $btn-primary-bg-color;
  border-color: transparent;
  color: $btn-primary-text-color;
}