@import "../variables";
.container {
  max-width: 1170px;
  margin: 0 auto;
}

@mixin heading-primary-font {
  font-family: $primary-font;
  font-weight: $font-weight-regular;
}

@mixin heading-secondary-font {
  font-family: $secondary-font;
  font-weight: $font-weight-regular;
}

@mixin heading-two {
  @include heading-secondary-font;
  font-size: 70px;
  line-height: 90px;
  color: $heading-two-color;
  font-weight: $font-weight-bold;
}

@mixin paragraph-primary {
  @include heading-primary-font;
  font-size: 14px;
  color: $para-color;
  line-height: 26px;
}

@mixin heading-four {
  @include heading-secondary-font;
  font-weight: $font-weight-bold;
  font-size: 24px;
  line-height: 26px;
  color: $heading-four-color;
}

@mixin heading-four-extends {
  @include heading-four;
  font-size: 26px;
  line-height: 24px;
}

@mixin heading-six {
  @include heading-primary-font;
  font-size: 14px;
  color: $heading-six-color;
  line-height: 24px;
}
@mixin card-text {
  @include heading-primary-font;
  font-size: 14px;
  line-height: 26px;
  color: $para-color;
}

//PORTFOLIO LIST STYLE
@mixin list-style {
  @include paragraph-primary;
  font-size: 14px;
  color: $portfolio-list-text-color;
}

