@import "../variables";
.container {
  max-width: 1170px;
  margin: 0 auto;
}

@mixin heading-primary-font {
  font-family: $primary-font;
  font-weight: $font-weight-regular;
}

@mixin heading-secondary-font {
  font-family: $secondary-font;
  font-weight: $font-weight-regular;
}

@mixin heading-two {
  @include heading-secondary-font;
  font-size: 70px;
  line-height: 90px;
  color: $heading-two-color;
  font-weight: $font-weight-bold;
}

@mixin paragraph-primary {
  @include heading-primary-font;
  font-size: 14px;
  color: $para-color;
  line-height: 26px;
}

@mixin heading-four {
  @include heading-secondary-font;
  font-weight: $font-weight-bold;
  font-size: 24px;
  line-height: 26px;
  color: $heading-four-color;
}

@mixin heading-four-extends {
  @include heading-four;
  font-size: 26px;
  line-height: 24px;
}
@mixin heading-four-for-card {
  @include heading-secondary-font;
  font-weight: 700;
  font-size: 18px;
  color: $heading-four-for-card-color;
}
@mixin heading-five {
  @include heading-secondary-font;
  font-weight: $font-weight-bold;
  color: $heading-five-extends-color;
  font-size: 24px;
}
@mixin heading-six {
  @include heading-primary-font;
  font-size: 14px;
  color: $heading-six-color;
  line-height: 24px;
}
@mixin card-text {
  @include heading-primary-font;
  font-size: 14px;
  line-height: 26px;
  color: $para-color;
}

//PORTFOLIO LIST STYLE
@mixin list-style {
  @include paragraph-primary;
  font-size: 14px;
  color: $portfolio-list-text-color;
}

@mixin team-member-title {
  @include heading-primary-font;
  font-weight: $font-weight-medium;
  color: $team-member-title-text-color;
  font-size: 14px;
}

@mixin placeholder-style {
  @include paragraph-primary;
}

@mixin label-style {
  @include paragraph-primary;
  color: $label-color;
}


//COUNTER SPAN STYLE
@mixin counter-text {
  @include heading-primary-font;
  font-weight: $font-weight-light;
  font-size: 60px;
  color: $counter-text-color;
}

@mixin span-title {
  @include heading-primary-font;
  font-weight: 500;
  font-size: 14px;
  line-height: 34px;
  color: $span-title-color;
}

//CARD TEXT
@mixin card-text {
  @include paragraph-primary;
  color: $testimonial-text-color;
}
