.container {
  max-width: 1170px;
  margin: 0 auto; }

.container {
  max-width: 1170px;
  margin: 0 auto; }

.header-section {
  background: #ffffff; }
  .header-section .navbar {
    padding: 24px;
    padding-left: 0;
    padding-right: 0; }
    .header-section .navbar .navbar-nav .nav-link {
      font-family: "Rubik", sans-serif;
      font-weight: 500;
      font-size: 14px;
      color: #000a2d;
      padding: 20px 0;
      margin-left: 20px;
      margin-right: 20px;
      text-transform: capitalize;
      position: relative;
      display: inline-block;
      line-height: 0; }
      .header-section .navbar .navbar-nav .nav-link.active {
        color: #ff3d4f; }
        .header-section .navbar .navbar-nav .nav-link.active:after {
          width: 100%; }
      .header-section .navbar .navbar-nav .nav-link:after {
        content: "";
        width: 0;
        height: 2px;
        background: #ff3d4f;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 0.3s; }
      .header-section .navbar .navbar-nav .nav-link:hover:after {
        width: 100%; }
    .header-section .navbar .nav-btn {
      display: flex;
      flex-direction: row; }
      .header-section .navbar .nav-btn .download-cv-btn {
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: #fff;
        border-radius: 32px;
        text-decoration: none;
        display: inline-block;
        background: #ff3d4f;
        border: 0;
        outline: none;
        padding: 20px 40px;
        transition: 0.3s;
        outline: none; }
        .header-section .navbar .nav-btn .download-cv-btn:hover {
          background: #79819e; }
      .header-section .navbar .nav-btn .toggler-btn-right {
        margin-left: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 0;
        outline: none;
        background: #fff7fa;
        box-shadow: 0px 8px 16px 0px rgba(255, 194, 200, 0.3); }
        .header-section .navbar .nav-btn .toggler-btn-right img {
          width: 14px;
          height: 11px; }

.container {
  max-width: 1170px;
  margin: 0 auto; }

.container {
  max-width: 1170px;
  margin: 0 auto; }

.about-section {
  padding-top: 120px;
  padding-bottom: 100px;
  background: #ffffff;
  border-bottom: 1px solid #f0ecff; }
  .about-section .about-left-content-wrapper h6 {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: #ff3d4f;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px; }
  .about-section .about-left-content-wrapper h2 {
    font-family: "Rufina", serif;
    font-weight: 400;
    font-size: 70px;
    line-height: 90px;
    color: #000a2d;
    font-weight: 600; }
  .about-section .about-right-content-wrapper p {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #6e7797;
    line-height: 26px;
    margin-bottom: 16px; }
  .about-section .about-right-content-wrapper .about-btn-wrapper {
    margin-top: 24px; }
    .about-section .about-right-content-wrapper .about-btn-wrapper .download-cv-btn {
      font-family: "Rubik", sans-serif;
      font-weight: 500;
      font-size: 14px;
      color: #fff;
      border-radius: 32px;
      text-decoration: none;
      display: inline-block;
      background: #ff3d4f;
      border: 0;
      outline: none;
      padding: 20px 58px;
      transition: 0.3s;
      margin-right: 10px; }
      .about-section .about-right-content-wrapper .about-btn-wrapper .download-cv-btn:hover {
        background: #79819e; }
    .about-section .about-right-content-wrapper .about-btn-wrapper .design-process-btn {
      font-family: "Rubik", sans-serif;
      font-weight: 500;
      font-size: 14px;
      color: #fff;
      border-radius: 32px;
      text-decoration: none;
      display: inline-block;
      background: transparent;
      color: #79819e;
      border: 2px solid #79819e;
      padding: 20px 58px;
      transition: 0.3s;
      margin-left: 10px;
      padding: 18px 46px; }
      .about-section .about-right-content-wrapper .about-btn-wrapper .design-process-btn:hover {
        background: #ff3d4f;
        border-color: transparent;
        color: #fff; }

.services-section {
  padding: 120px 0;
  background: #ffffff; }

.container {
  max-width: 1170px;
  margin: 0 auto; }

.container {
  max-width: 1170px;
  margin: 0 auto; }

.banner-section {
  background: #f6f5ff;
  overflow: hidden;
  position: relative; }
  .banner-section .banner-right-img {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 20px;
    width: 45%; }
    .banner-section .banner-right-img img {
      width: 100%;
      height: auto; }
  .banner-section .banner-text-box {
    padding: 220px 0; }
    .banner-section .banner-text-box h5 {
      font-family: "Rubik", sans-serif;
      font-weight: 400;
      color: #ff3d4f;
      font-size: 20px;
      margin-bottom: 40px; }
    .banner-section .banner-text-box h1 {
      font-family: "Rufina", serif;
      font-weight: 400;
      color: #000a2d;
      font-size: 90px;
      line-height: 100px;
      margin-bottom: 14px; }
    .banner-section .banner-text-box p {
      font-family: "Rubik", sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: #6e7797;
      margin-bottom: 34px; }
    .banner-section .banner-text-box .banner-text-btn .learn-more-btn {
      font-family: "Rubik", sans-serif;
      font-weight: 500;
      font-size: 14px;
      color: #fff;
      border-radius: 32px;
      text-decoration: none;
      display: inline-block;
      text-transform: uppercase;
      transition: 0.3s;
      background: #ff3d4f;
      padding: 20px 56px;
      margin-right: 10px; }
      .banner-section .banner-text-box .banner-text-btn .learn-more-btn:hover {
        background: #79819e; }
    .banner-section .banner-text-box .banner-text-btn .play-btn {
      font-family: "Rubik", sans-serif;
      font-weight: 500;
      font-size: 14px;
      color: #fff;
      border-radius: 32px;
      text-decoration: none;
      display: inline-block;
      text-transform: uppercase;
      transition: 0.3s;
      margin-left: 10px;
      color: #ff3d4f; }
      .banner-section .banner-text-box .banner-text-btn .play-btn .play-icon {
        border-radius: 50%;
        background: #fff7fa;
        padding: 22px;
        box-shadow: 0px 8px 16px 0px rgba(255, 194, 200, 0.3);
        display: inline-block;
        margin-right: 20px; }

.container {
  max-width: 1170px;
  margin: 0 auto; }

.card {
  border: 8px solid #f7f8ff;
  padding: 50px; }
  .card .card-icon {
    margin-bottom: 30px; }
    .card .card-icon img {
      width: auto; }
  .card .card-body {
    padding: 0;
    margin-bottom: 30px; }
    .card .card-body .card-title {
      font-family: "Rufina", serif;
      font-weight: 400;
      font-weight: 600;
      font-size: 24px;
      line-height: 26px;
      color: #000a2d;
      margin-bottom: 14px; }
    .card .card-body .card-text {
      font-family: "Rubik", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 26px;
      color: #6e7797; }
  .card .card-list-group {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .card .card-list-group li {
      margin-bottom: 16px;
      font-size: 14px;
      line-height: normal;
      font-family: "Rubik", sans-serif;
      font-weight: 400;
      color: #6e7798; }
      .card .card-list-group li:last-child {
        margin-bottom: 0; }
      .card .card-list-group li i {
        color: #ff3d4f;
        font-size: 15px;
        margin-right: 20px; }
