// Sizes
$fonts: (
        lg_desktop: (
                xxs: (
                        size: 12px
                ),
                xs: (
                        size: 14px
                ),
                s: (
                        size: 16px
                ),
                sm: (
                        size: 18px
                ),
                m: (
                        size: 22px
                ),
                l: (
                        size: 26px
                ),
                lg: (
                        size: 30px
                ),
                xlg: (
                        size: 34px
                )
        ),
        desktop: (
                xxs: (
                        size: 10px
                ),
                xs: (
                        size: 12px
                ),
                s: (
                        size: 14px
                ),
                sm: (
                        size: 16px
                ),
                m: (
                        size: 20px
                ),
                l: (
                        size: 24px
                ),
                lg: (
                        size: 28px
                ),
                xlg: (
                        size: 32px
                )
        ),
        mobile: (
                xxs: (
                        size: 8px
                ),
                xs: (
                        size: 10px
                ),
                s: (
                        size: 12px
                ),
                sm: (
                        size: 14px
                ),
                m: (
                        size: 18px
                ),
                l: (
                        size: 22px
                ),
                lg: (
                        size: 26px
                ),
                xlg: (
                        size: 30px
                )
        ),
);