$primary-font: 'Rubik', sans-serif;
$secondary-font: 'Rufina', serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$primary-bg-color: #ffffff;
$secondary-bg-color: #f6f5ff;
$theme-color-dark: #000a2d;
//HEADER COLOR
$primary-header-bg-color: $primary-bg-color;
//NAVBAR COLOR, FONT..
$navbar-primary-font: $primary-font;
$navbar-primary-font-weight-medium: 500;
$navbar-primary-font-size: 14px;
$navbar-primary-text-color: #000a2d;
$navbar-primary-text-active-color: #ff3d4f;
$navbar-primary-text-transform: capitalize;
$navbar-primary-border-color: $navbar-primary-text-active-color;

//BTN COLOR, FONT...
$btn-primary-text-color: #fff;
$btn-secondary-text-color: #79819e;
$btn-font-size: 14px;
$btn-border-radius: 32px;
$btn-primary-bg-color: $navbar-primary-text-active-color;
$btn-outline-text-color: $btn-primary-bg-color;
$btn-secondary-bg-color: $btn-secondary-text-color;
$btn-outline-border-color: $btn-secondary-bg-color;
$btn-font-family: $navbar-primary-font;
$btn-font-weight: $navbar-primary-font-weight-medium;
$toggle-btn-bg-color: #fff7fa;
$play-btn-bg-color: $toggle-btn-bg-color;

//HEADING COLOR
$heading-one-color: #000a2d;
$heading-two-color: $heading-one-color;
$heading-four-color: $heading-one-color;
$heading-five-color: #ff3d4f;
$heading-five-extends-color: $heading-one-color;
$heading-six-color: $heading-five-color;
$team-member-title-text-color: $heading-five-color;
$heading-four-for-card-color: $heading-one-color;
//PARAGRAPH
$para-color: #6e7797;

//ABOUT SECTION
$section-border-color: #f0ecff;

//SERVICES SECTION
$card-border-color: #dadceb;
$card-list-icon-color: #ff3d4f;
$card-list-text-color: #6e7798;

//SKILL SECTION HEADING COLOR
$progress-bar-label-color: $para-color;
$progress-bg-color: #ffffff;
$progress-bar-bg-color: #ff3d4f;

//PORTFOLIO SECTION
$portfolio-list-text-color: #000a2d;
$portfolio-list-border-color: $section-border-color;
$portfolio-list-after-border-color: #ff3d4f;
$active-text-color: $portfolio-list-after-border-color;

//CALL TO ACTION SECTION
$call-to-action-section-bg-color: #000a2d;

//CARD ICON BACKGROUND
$card-icon-bg-color: #fff2f3;
$card-bg-white: #ffffff;
$card-text-color-red: #ff3d4f;

//EDUCATION SECTION
$education-list-border-color: #ffe7e5;
$education-list-circle-bg-color: #ffffff;
$check-icon-bg-color: #ff3d4f;

//TEXT COLOR
$text-white-color: $btn-primary-text-color;
$text-muted-color: #afb5c9;

//ICON COLOR
$card-icon-color: #c1bfd8;
$social-media-icon-color: #a4acc9;

//CONTACT FORM DESIGN
$input-border-color: #dadceb;
$input-placeholder-color: #6e7797;
$label-color: #000a2d;
$label-span-color: #ff3d4f;

//COUNTER TEXT COLOR
$counter-text-color: $label-color;
$span-title-color: #959cb4;


//TESTIMONIAL CARD COLOR
$testimonial-text-color: #959cb4;
$secondary-card-border-color: #dadceb;
$arrow-prev-btn-color: #dbdce9;
$arrow-next-btn-color: #ff3d4f;

//HAMBURGER MENU
$opacity: 0.9;

